<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Admin Panel</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/favicon.png">
</head>
<body>
    <div class="mainDiv">
        <img src="../img/favicon.png" alt="Google Admin Panel logo">
        <h1>Google Admin Panel</h1>
        <p>An error occured, please try again later!</p>
        <p id="errorHome"></p>
    </div>
    <script>
        let errorHome = document.querySelector("#errorHome");
        let timer = 4;
        function returnToHome() {
            window.location.href = "../../index.html";
        }
        setTimeout(returnToHome, 4000);
        setInterval( function(){
                timer -= 1;
                errorHome.innerHTML = "Returning to home in " + timer + " seconds";
            }, 1000)
    </script>
</body>
</html>