<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Admin Panel</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/favicon.png">
</head>
<body>
    <div class="mainDiv">
        <img src="../img/favicon.png" alt="Google Admin Panel logo" id="loginLogo">
        <h1>Google Admin Panel</h1>
        <p>Login to continue</p>
        <input id="usernameInput" type="text" placeholder="Username">
        <input id="passwordInput" type="password" placeholder="Password">
        <input type="submit" value="Login" id="loginButton">
        <div id="errorPassword" class="error none">Wrong username or password!</div>
        <p>Registration to the site with a temporary free account is currently not available.</p>
<!--        <p>New user? Click <a href="#" id="registerButton" style="color: blue; text-decoration: underline;">here</a>.</p>-->
        <p>Go back to the <a href="/../index.html" style="color: blue; text-decoration: underline;">home</a>!</p>
    </div>
    <script src="../js/login.js"></script>
</body>
</html>
