* {
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
}

body {
    font-size: 2.5vh;
    width: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img {
    width: 15%;
}

span {
    color: blue;
    text-decoration: underline;
}

header {
    float: left;
    width: 45%;
}

ul {
    list-style: none;
}

li {
    text-align: left;
}

a {
    color: black;
    text-decoration: none;
}

main {
    float: right;
    width: 45%;
    background-color: royalblue;
    color: white;
    padding: 5%;
}

.clear {
    clear: both;
}

.none {
    display: none;
}